.App {
  text-align: center;
}

header{
 
  background-color: aqua;
}
header a{
  display: flex;
  justify-content: center;
  padding:30px 0;

}
.container-spinner{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.beer-card img{
  height: 100px;

}

.beer-card{
  border: 2px solid lightgray;
  border-radius: 20px;
  width: 200px;
  padding: 10px 5px;
  
}
.beer-list-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:10px;
  margin:20px 20px;
  
}

.beer-list-container a{
  color:brown;
  text-decoration: none;
}

